@import 'bootstrap'
@import '_helpers'

body
  padding-top: 60px
  min-width: 980px

// layout
.layout
  position: relative
  margin: 0 auto
  width: 100%
  min-width: 980px

.wrapper
  position: relative
  margin: 0 auto
  padding: 0 40px
  +clearfix

.columns__center
  float: left
  margin: 0
  width: 100%

.columns_center__inner
  padding-left: 340px

.columns__left
  width: 280px
  margin: 0 0 0 -100%
  float: left

// proposals
ul.proposals
  margin: 0
  list-style: none

.proposals__item
  position: relative
  display: inline-block
  margin: 0 8% 65px 0
  padding-top: 135px
  width: 160px
  min-height: 125px
  vertical-align: top

.proposals__item__title
  display: block
  margin: 0 0 15px 0
  line-height: 125%
  font-size: $baseFontSize
  font-weight: normal
  color: $linkColor

.proposals__item__brand, .proposals__item__price
  margin: 0
  text-align: right
  white-space: nowrap

.proposals__item__brand
  margin-bottom: 7px
  color: #9d9d9d
  font-size: $baseFontSize - 1

.proposals__item__price strong
  padding: 3px 8px
  text-align: center
  font-style: italic
  font-size: $baseFontSize + 3
  font-weight: normal
  background: #fef32a
  +border-radius(8px)

.proposals__item__picture
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  height: 120px
  width: 160px

.controls-row [class*="span"]
  margin: 0

.navbar .version
  padding: 10px 15px
  float: left
  margin-left: 1em
  color: #8db21b
  a
    color: #8db21b
    text-decoration: underline
    &:hover
      text-decoration: none

  ul
    display: inline
    margin: 0
    li
      display: inline
      margin-left: 10px
      &:first-child
        margin-left: 0

// Console

.console
  position: fixed
  overflow-y: auto
  bottom: 0
  left: 0
  padding: 10px 0
  margin: 0
  height: 120px
  width: 100%
  list-style: none
  font-size: 12px
  border-top: 1px solid #dedede
  background: #f5f5f5
  li
    padding-left: 20px
    line-height: 14px
    &.status
      padding-bottom: 7px
      margin-bottom: 8px
      border-bottom: 1px solid #dedede
    &.status:last-child
      border: none!important

.clear_console
  position: fixed
  right: 30px
  bottom: 100px

// Override Bootstrap
a, input, select
  outline: none!important

// Fix for Firefox submit tag height
body:not(:-moz-handler-blocked)
  input.btn
    height: $baseLineHeight !important
    -moz-box-sizing: content-box